@import url("../../../css/colors.css");

.footer {
  height: 100px;
  background-color: var(--primary);
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}
