@import url("../../../css/colors.css");

.nav {
  height: 100px;
  background-color: var(--primary);
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.nav h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--secondary);
  background-color: var(--dark);
  padding: 15px;
  border-radius: 28px;
  font-family: "Rubik Puddles", cursive;
}
