@import url("../../../css/colors.css");

.footer {
  height: 70px;
  color: var(--light);
  background-color: var(--primary);
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}
